#ifndef SPARKLE_MINI_COUNTDOWN_SECRETS_H
#define SPARKLE_MINI_COUNTDOWN_SECRETS_H

constexpr auto WIFI_SSID = "some_ssid";
constexpr auto WIFI_PASSWORD = "some_password";

#endif //SPARKLE_MINI_COUNTDOWN_SECRETS_H
